*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  align-items: end;
  padding: 0 30px;
  width: 100%;
  height: fit-content;
  gap: 30px;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  position: relative;
}

.result__video {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.result__video:focus {
  outline: none;
}

.result__video:focus-visible {
  outline: 1px solid white;
  outline-offset: 1px;
}

.search-form {
  display: flex;
  align-items: start;
  gap: 40px;
}

fieldset {
  border: none;
}

.search-form__fieldset {
  display: grid;
  gap: 5px;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.search-form__label {
  display: flex;
  width: fit-content;
  gap: 5px;
  cursor: pointer;
  place-items: center;
}

.search-form__label:has(.search-form__textfield:focus-visible, .search-form__checkbox:focus-visible) {
  outline: 1px solid white;
  outline-offset: 1px;
}

.search-form__textfield {
  font-family: inherit;
  font-size: 18px;
  color: inherit;
  background-color: #1b1919;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-right: none;
  border-left: none;
  width: 225px;
  appearance: none;
}

.search-form__textfield:hover {
  outline: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:active {
  outline: none;
  border: 1px solid white;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__checkbox-list .search-form__label:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  vertical-align: center;
  width: 19px;
  height: 19px;
  outline: 1px solid white;
  cursor: pointer;
}

.search-form__pseudo-checkbox:active {
  background-color: white;
  border: 1px solid #1b1919;
}

input[type="checkbox"]:checked + .search-form__pseudo-checkbox {
  background-color: white;
  border: 1px solid #1b1919;
}

.button {
  cursor: pointer;
  background-color: transparent;
  color: white;
  width: 100%;
  height: 34px;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  border: 1px solid white;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid white;
  outline-offset: 1px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050
}

.search-form__submit-button {
  align-self: end;
}

.content__details {
  display: grid;
  gap: 20px;
  height: 534px;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 71px;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  overflow-y: auto;
  position: relative;
  max-height: 298px;
}

.content__list::-webkit-scrollbar {
  width: 0;
}

.content__list-item:not(:last-child) {
  padding-bottom: 26px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: white;
  margin: 2px;
}

.content__card-link:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid white;
  outline-offset: 1px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: start;
  gap: 5px;
}

.content__video-card-description-container {
  word-break: break-all;
}

.content__video-card-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
}

.content__video-card-description {
  line-height: 16px;
}

.content__video-card-description::first-letter {
  text-transform: uppercase;
}

.content__video-card-thumbnail {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 103px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}